layout {
    gaps 4
    center-focused-column "never" // Don’t auto-center focused column

    background-color "transparent" // <- needed for noctalia-shell to set wallpaper

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
     
    focus-ring { 
        off
    }

    shadow {
        off
        // on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000070"
    }

    border {
        on
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }

}

blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}
